*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif
}

nav{
    background: green;
    height: 80px;
    width: 100%;
}
.title{
    color:white;
    font-size: 25px;
    line-height: 80px;
    padding: 0 20px;
    font-weight: bold;
}
.recipe{
    float: right;
    margin-right: 20px;
}
.recipe{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    padding: 2px;
}
.recipe{
    color:white;
    font-size: 14px;
    text-transform: uppercase;
}